.introDiv {
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.69);
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.69);
    -moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.69);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    padding: 25px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

p {
    margin: 20px 0px;
    text-align: center;
}

.inputFile input[type="file"] {
    display: none;
}

.inputFile {
    background-color: #2F80ED;
    color: white;
    cursor: pointer;
    padding: 6px 15px;
}